/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cfd8dc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0bec5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #90a4ae;
}